* {
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #EEEEEE;
    margin: 0;
    padding: 10px;
    font-size: 62.5%;
    color: #212121;
    font-family: 'Roboto', sans-serif;
}